*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    background-color: #0a1629;

}
 html{
    scroll-behavior: smooth;
 }
 #portfolio{
    padding: 50px;
    height:auto;
    width: fit-content;
    background-color: #0a1629;
 }
 .portfolio-title{
    font-size: 60px;
    font-weight:600;
    color:#e1d4c2;
 }
 .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }
 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
 .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
 }
 .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #222f43);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;   
    font-size: 14px;
    transition: height 0.5s;
 }
 .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
 }
 .layer a{
    margin-top: 20px;
    color:#222f43;
    text-decoration:none;
    font-size: 18px;
    line-height: 60px;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
 }
 .work:hover img{
    transform: scale(1.1);
 }
 .work:hover .layer{
    height: 100%;
 }
 
 .work-list ul{
    background: #f3ebe0;
        display: list-item;
        list-style: none;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
 }
 